.contact {
    background-color: var(--text-white);
    &__wrapper {
        max-width: 1440px;
        margin: 0 auto;
    }
    &__content {
        @extend .padding-block;
        padding-top: 100px;
        padding-bottom: 50px;
        min-height: 110dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title {
        margin-bottom: 50px;
        text-transform: uppercase;
        text-align: center;
        color: var(--bg-main);
    }
    &__description {

    }
    &__wrapper-form {
        margin: 0 auto;
        width: 700px;
    }
    &__form {
        display: flex;
        gap: 20px;
        flex-direction: column;
        input, textarea { 
            font-size: 20px;
            border: 1px solid var(--text-grey);
            border-radius: 10px;
        }
        &-name,
        &-email {
            height: max-content;
            padding: 15px;
        }
        &-submit {
            height: 40px;
        }
        &-description {
            resize: none;
            padding: 15px;
            height: 250px;
        }
        & textarea::placeholder,
        & input::placeholder {
            font-size: 16px;
        }

        &-submit {
            height: 60px;
            font-size: 20px;
            border-radius: 10px;
            color: var(--text-white);
            background-color: var(--bg-black);
            transition: transform 0.2s linear;
            text-transform: uppercase;
            &:active {
                transform: translateY(5px);
            }

            position: relative;
            &::before {
                content: "*Неправильно указана почта ";
                position: absolute;
                top: 120%;
                left: 0;
                height: 20px;
                width: max-content;
                color: red;
                text-transform: capitalize;
                font-size: 14px;
                display: none;
            }
        }

        &-error {
            &::before {
                display: inline-block;
            }
        }
    }

}
