.contact {
    height: 100%;
    min-width: 100vw;
    position: relative;
    background-color: var(--orange);
    right: calc((var(--page) - 1) * 100vw);
    transition: right 0.3s linear;

    &_active {

        .contact__title {
            transform: translateX(0);
            opacity: 1;
            transition: opacity 0.5s ease-out 0.5s, transform 0.5s ease-out 0.5s;
        }

        .contact__description {
            transform: translateX(0);
            opacity: 1;
            transition: opacity 0.5s ease-out 0.5s, transform 0.5s ease-out 0.5s;
        }

        .contact__form-name {
            transform: rotateZ(0deg);
            opacity: 1;
            transition: opacity 0.5s ease-out 0.3s, transform 0.5s ease-out 0.3s;
        }

        .contact__form-email {
            transform: rotateZ(0deg);
            opacity: 1;
            transition: opacity 0.5s ease-out 0.3s, transform 0.5s ease-out 0.3s;
        }

        .contact__form-description {
            transform: translateY(0);
            opacity: 1;
            transition: opacity 0.5s ease-out 0.3s, transform 0.5s ease-out 0.3s;
        }

        .contact__form-submit {
            transform: scale(1);
            opacity: 1;
            transition: opacity 0.5s ease-out 0.5s, transform 0.5s ease-out 0.5s;
        }
    }

    &__content {
        margin: 0 auto;
        @include adapPage(max-width, 1440);
        height: 100%;
        @include adapPage(padding-left, 80);
        @include adapPage(padding-right, 80);
        @include adapPage(padding-top, 50);
        @include adapPage(padding-bottom, 50);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title {
        font-family: "pixy";
        @include adapPage(font-size, 130);
        text-transform: uppercase;
        @include adapPage(margin-bottom, 10);
        text-align: center;
        color: var(--white);
        font-weight: 500;
        @include adapTextShadow(3, 3, 5, var(--black));
        transform: translateX(-300px);
        opacity: 0;

        &::before,
        &::after {
            border-color: var(--bg-black);
        }
    }
    &__description {
        @include adapPage(max-width, 560);
        @include adapPage(margin-bottom, 30);
        text-align: center;
        @include adapPage(font-size, 24);
        line-height: 130%;
        font-weight: 500;
        color: var(--black);
        transform: translateX(300px);
        opacity: 0;
    }
    &__wrapper-form {
        margin: 0 auto;
        @include adapPage(max-width, 660);
        width: 100%;
    }
    &__form {
        display: flex;
        @include adapPage(gap, 20);
        flex-direction: column;
        input, textarea { 
            @include adapPage(font-size, 20);
            @include adapPage(border-radius, 10);
        }
        &-name {
            height: max-content;
            @include adapPage(padding, 15);
            @include adapBoxShadow(3, 3, 5, 0, var(--black));
            transform: rotateZ(-90deg);
            transform-origin: left center;  
            opacity: 0;
        }
        &-email {
            height: max-content;
            @include adapPage(padding, 15);
            @include adapBoxShadow(3, 3, 5, 0, var(--black));
            transform: rotateZ(-90deg);
            transform-origin: right center;
            opacity: 0;
        }
        &-submit {
            @include adapPage(height, 40);
            @include adapBoxShadow(3, 3, 5, 0, var(--black));
        }
        &-description {
            resize: none;
            @include adapPage(padding, 15);
            @include adapBoxShadow(3, 3, 5, 0, var(--black));
            @include adapPage(height, 250);
            transform: translateY(150px);
            opacity: 0;
        }
        & textarea::placeholder,
        & input::placeholder {
            @include adapPage(font-size, 16);
        }

        &-submit {
            @include adapPage(height, 60);
            @include adapPage(font-size, 20);
            @include adapPage(border-radius, 10);
            color: var(--white);
            background-color: var(--black);
            text-transform: uppercase;
            transform: scale(0.0001);
            opacity: 0;

            &:active {
                transform: translateY(5px);
                transition: transform 0.2s linear;
            }
        }
    }

    &__error {
        @include adapPage(padding-left, 10);
        @include adapPage(height, 20);
        width: max-content;
        color: red;
        @include adapPage(font-size, 20);
        display: inline-block;
        transition: all 0.2s linear;
    }
}
