.header {
    height: 100px;
    border: 2px solid var(--bg-black-grey-2);
    &__wrapper {
        margin: 0 auto;
        max-width: 1440px;
        height: 100%;
        @extend .padding-block;
    }
    &__content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__nav-row {
        display: flex;
        gap: 40px;
    }
    &__link {
        font-size: 20px;
        color: var(--text-white);
    }
}
