.about {
    &__wrapper {
        max-width: 1440px;
        margin: 0 auto;
    }
    &__content {
        @extend .padding-block;
        @include adap(padding-top, 100, 100, 100, 70, 40);
        padding-bottom: 50px;
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        @include adap(margin-bottom, 120, 120, 120, 100, 80);
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
        color: var(--text-white);
    }
    &__info {
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 40px;
        max-width: 1000px;
    }
    &__img {
        @include adap(height, 280, 280, 280, 240, 200);
        @include adap(min-width, 280, 280, 280, 240, 200);
        border: 2px solid var(--text-grey);
        border-radius: 25%;
        animation: move-border 7s linear infinite;
        background-color: var(--bg-black-grey-2);
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-width: 80%;
            height: 80%;
        }
    }
    &__text {
        line-height: 130%;
        @include adap(font-size, 20, 20, 20, 18, 18);
        color: var(--text-grey);
    }
}

@media (max-width: 768px) {
    .about {
        &__info {
            flex-direction: column;
        }
        &__text {
            text-align: center;
        }
    }
}
