.about {
  height: 100%;
  position: relative;
  background: var(--blue);
  min-width: 100vw;
  right: calc((var(--page) - 1) * 100vw);
  transition: right 0.3s linear;

  &_active {
    .about__name {
      transform: translateY(0px);
      opacity: 1;
      transition: transform 0.5s ease-out 0.3s, opacity 0.5s ease-out 0.3s;
    }

    .about__title {
      transform: translateX(0px);
      opacity: 1;
      transition: transform 0.5s ease-out 0.3s, opacity 0.5s ease-out 0.3s;
    }

    .about__social {
      transform: scale(1);
      opacity: 1;
      transition: transform 0.3s ease-out 0.3s, opacity 0.5s ease-out 0.3s, box-shadow 0.15s linear;
    }

    .about__auth {
      transform: scale(1);
      opacity: 1;
      transition: transform 0.5s ease-out 0.3s, opacity 0.5s ease-out 0.3s;
    }

    .about__auth-cloud {
      &::after {
        animation: fly 3s linear 0.8s infinite;
        transform: scale(1);
        opacity: 1;
        transition: transform 0.5s ease-out 0.3s, opacity 0.5s ease-out 0.3s;
      }
    }

    .about__descr {
      transform: translateX(0);
      opacity: 1;
      transition: transform 0.5s ease-out 0.3s, opacity 0.5s ease-out 0.3s;
    }

    .about__achiev {
      opacity: 1;
      transition: left 0.15s linear, bottom 0.15s linear, z-index 0.15s linear, opacity 0.15s ease-out 0.8s;
    }
  }

  &__content {
    @include adapPage(max-width, 1440);
    margin: 0 auto;
    height: 100%;
    position: relative;
    @include adapPage(padding, 80);
    display: flex;
    justify-content: space-between;

    & .about__column:nth-child(3) {
      justify-content: space-between;
    }
  }

  &__name {
    position: absolute;
    @include adapPage(height, 90);
    @include adapPage(font-size, 64);
    font-weight: 700;
    @include adapPage(line-height, 90);
    @include adapTextShadow(0, 3, 10, var(--black));
    color: var(--orange);
    transform: translateY(-150px);
    opacity: 0;

    span {
      color: var(--white);
    }
  }

  &__column {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__title {
    font-family: "pixy";
    @include adapPage(font-size, 170);
    margin-bottom: 0;
    line-height: 50%;
    @include adapPage(letter-spacing, 10);
    text-transform: uppercase;
    @include adapTextShadow(3, 3, 5, var(--black));
    color: var(--orange);
    transform: translateX(-200px);
    opacity: 0;
  }

  &__auth {
    width: max-content;
    @include adapPage(margin-bottom, 100);
    position: relative;
    cursor: pointer;
    transform: scale(0.001);
    opacity: 0;

    &:hover {
      .about__auth-img {
        transform: rotateY(-180deg);
      }

      .about__auth-info {
        transform: rotateY(0deg);
      }
    }

    &_active {
      .about__auth-img {
        z-index: -1;
      }
    }

    &-cloud {

      &::after {
        content: "«Кнопки сами себя не спроектируют!»";
        display: inline-block;
        @include adapPage(height, 200);
        @include adapPage(width, 370);
        position: absolute;
        @include adapPage(top, 180);
        @include adapPage(right, -60);
        z-index: 3;
        background: url("/public/img/cloud.png") center/ 100% 100% no-repeat;
        @include adapPage(padding-top, 30);
        @include adapPage(padding-right, 30);
        @include adapPage(padding-left, 50);
        @include adapPage(font-size, 27);
        line-height: 130%;
        transform: scale(0.001);
        opacity: 0;
      }
    }

    &-img {
      border: 4px solid var(--grey);
      @include adapPage(border-width, 4);
      @include adapPage(height, 300);
      @include adapPage(width, 300);
      border-radius: 50%;
      background-color: var(--black);
      transition: transform .3s linear, z-index .3s linear;
      transform: rotateY(0deg);
      position: relative;
      z-index: 2;
      overflow: hidden;
      @include adapBoxShadow(0, 3, 10, 5, var(--black));
      img {
        height: auto;
        width: 100%;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include adapPage(gap, 10);
      @include adapPage(height, 300);
      @include adapPage(width, 300);
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      transform: rotateY(-180deg);
      border: 4px solid var(--grey);
      @include adapPage(border-width, 4);
      background-color: var(--black);
      transition: transform 0.3s linear;

      span {
        @include adapPage(font-size, 20);
        color: white;
      }
    }
  }

  &__info {

    &:hover {
      .about__achiev {
        @include adapPage(left, -100);
        @include adapPage(bottom, 60);
        z-index: 4;
      }
    }
  }

  &__descr {
    position: relative;
    z-index: 2;
    @include adapPage(width, 450);
    @include adapPage(height, 570);
    @include adapPage(padding, 40);
    @include adapPage(border-radius, 30);
    border: 3px solid var(--grey);
    @include adapPage(border-width, 3);
    @include adapBoxShadow(0, 3, 7, 3, var(--black));
    background-color: var(--black);
    cursor: pointer;
    transform: translateX(300px);
    opacity: 0;
    
    & * {
      cursor: pointer;
    }

    &-title {
      text-align: center;
      @include adapPage(padding-bottom, 5);
      @include adapPage(margin-bottom, 10);
      @include adapPage(font-size, 34);
      line-height: 130%;
      font-weight: 700;
      color: var(--orange);
      border-bottom: 3px solid var(--orange);
      @include adapPage(border-bottom-width, 3);
    }
    &-text {
      text-indent: 1ch;
      @include adapPage(font-size, 20);
      line-height: 150%;
      color: var(--white);
    }
  }

  &__achiev {
    position: absolute;
    z-index: 0;
    @include adapPage(bottom, 40);
    @include adapPage(left, -50);
    @include adapPage(width, 450);
    @include adapPage(height, 570);
    @include adapPage(padding, 40);
    @include adapPage(border-radius, 30);
    border: 3px solid var(--grey);
    @include adapPage(border-width, 3);
    @include adapBoxShadow(0, 3, 7, 3, var(--black));
    background-color: var(--black);
    cursor: pointer;
    opacity: 0;

    & * {
      cursor: pointer;
    }

    &-title {
      text-align: center;
      @include adapPage(padding-bottom, 5);
      @include adapPage(margin-bottom, 10);
      @include adapPage(font-size, 34);
      line-height: 130%;
      font-weight: 700;
      color: var(--orange);
      border-bottom: 3px solid var(--orange);
      @include adapPage(border-bottom-width, 3);
    }
    &-text {
      list-style-type: square;
      list-style-position: inside;
      @include adapPage(font-size, 20);
      line-height: 150%;
      color: var(--white);
    }
  }

  &__links {
    align-self: flex-end;
    width: max-content;
    display: flex;
    @include adapPage(gap, 30);
  }

  &__social {
    @include adapPage(width, 90);
    @include adapPage(height, 90);
    @include adapPage(border-radius, 17);
    cursor: pointer;
    position: relative;
    transform: scale(0.001);
    opacity: 0;

    &:hover {
        transform: scale(0.95);
        @include adapBoxShadow(0, 0, 10, 3, var(--white));
        transition: transform 0.15s linear, box-shadow 0.15s linear;
    }

    a {
        display: block;
        height: 100%;
        width: 100%;
        @include adapPage(padding, 12);
        border: 3px solid var(--black);
        @include adapPage(border-width, 3);
        @include adapPage(border-radius, 17);
        background-color: var(--black);
        box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.8);
        &:hover {
            outline: 3px solid var(--text-orange);
            @include adapPage(outline-width, 3);
            
            img {
                animation: move-top-bottom 0.5s linear infinite;
            }
        }
    }
    img {
        position: relative;
        max-width: 100%;
        height: auto;
    }
  }
}


@keyframes fly {
  0% {
    transform: translateY(0px);
  }
  25% {
    @include adapTransform(translateY, 8)
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    @include adapTransform(translateY, -8)
  }
  100% {
    transform: translateY(0px);
  }
}