@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("../../public/font/Montserrat-Regular.eot");
  src: url("../../public/font/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../../public/font/Montserrat-Regular.woff2") format("woff2"), url("../../public/font/Montserrat-Regular.woff") format("woff"), url("../../public/font/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../public/font/Montserrat-Medium.eot");
  src: url("../../public/font/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../../public/font/Montserrat-Medium.woff2") format("woff2"), url("../../public/font/Montserrat-Medium.woff") format("woff"), url("../../public/font/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../public/font/Montserrat-Bold.eot");
  src: url("../../public/font/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../../public/font/Montserrat-Bold.woff2") format("woff2"), url("../../public/font/Montserrat-Bold.woff") format("woff"), url("../../public/font/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "pixy";
  src: url("../../public/font/PixCyrillic.woff2");
  src: url("../../public/font/PixCyrillic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: currentColor;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
  cursor: default;
}

p {
  cursor: default;
}

address {
  font-style: normal;
}

select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@keyframes move-bg {
  0% {
    background-position: -200px center;
  }
  80%, 100% {
    background-position: calc(100% + 200px) center;
  }
}
@keyframes move-border {
  0% {
    border-top-left-radius: 55%;
    border-color: var(--text-grey);
  }
  10% {
    border-bottom-left-radius: 25%;
  }
  20% {
    border-top-right-radius: 20%;
  }
  40% {
    border-bottom-right-radius: 55%;
  }
  50% {
    border-top-left-radius: 20%;
    border-color: var(--text-orange);
  }
  60% {
    border-bottom-left-radius: 60%;
  }
  70% {
    border-top-right-radius: 50%;
  }
  90% {
    border-bottom-right-radius: 18%;
  }
  100% {
    border-top-left-radius: 55%;
    border-color: var(--text-grey);
  }
}
@keyframes img-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes move-top-bottom {
  0% {
    top: 0;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 0;
  }
  75% {
    top: -2px;
  }
  100% {
    top: 0;
  }
}
.wrapper-swiper {
  height: 100%;
  position: relative;
}
.wrapper-swiper__arrow_move:not(.wrapper-swiper__arrow_disibled) {
  opacity: 0;
  transition: all 0.2s linear;
  transform: rotateY(-90deg);
}
.wrapper-swiper__arrow_disibled {
  opacity: 0;
  transform: rotateY(-90deg);
  transition: all 0.2s linear 0.3s;
}
.wrapper-swiper__arrow-prev {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  border-top: 3px solid var(--grey);
  border-right: 3px solid var(--grey);
  border-bottom: 3px solid var(--grey);
  border-width: min(0.2083333333vw, 0.3125vh);
  border-top-right-radius: min(4.1666666667vw, 6.25vh);
  border-bottom-right-radius: min(4.1666666667vw, 6.25vh);
  transition: all 0.2s linear;
  transform-origin: left center;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.wrapper-swiper__arrow-prev img {
  height: min(4.1666666667vw, 6.25vh);
  transform: rotateZ(180deg);
  filter: drop-shadow(min(0vw, 0vh) min(0vw, 0vh) min(0.0694444444vw, 0.1041666667vh) var(--black));
}
.wrapper-swiper__content {
  height: 100%;
  display: flex;
  overflow: hidden;
}
.wrapper-swiper__arrow-next {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  border-top: 3px solid var(--grey);
  border-left: 3px solid var(--grey);
  border-bottom: 3px solid var(--grey);
  border-width: min(0.2083333333vw, 0.3125vh);
  border-top-left-radius: min(4.1666666667vw, 6.25vh);
  border-bottom-left-radius: min(4.1666666667vw, 6.25vh);
  transition: all 0.2s linear;
  transform-origin: right center;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.wrapper-swiper__arrow-next img {
  height: min(4.1666666667vw, 6.25vh);
  filter: drop-shadow(min(0vw, 0vh) min(0vw, 0vh) min(0.0694444444vw, 0.1041666667vh) var(--black));
}

.size-window {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background-color: gainsboro;
}
.size-window__text {
  text-align: center;
  line-height: 130%;
  color: var(--black);
}
@media (min-width: 1440px) {
  .size-window__text {
    font-size: 24px;
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  .size-window__text {
    font-size: calc(24px + 0 * (100vw - 1280px) / (1440 - 1280));
  }
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .size-window__text {
    font-size: calc(24px + 0 * (100vw - 1024px) / (1280 - 1024));
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .size-window__text {
    font-size: calc(16px + 8 * (100vw - 768px) / (1024 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .size-window__text {
    font-size: calc(14px + 2 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .size-window__text {
    font-size: 14px;
  }
}

.about {
  height: 100%;
  position: relative;
  background: var(--blue);
  min-width: 100vw;
  right: calc((var(--page) - 1) * 100vw);
  transition: right 0.3s linear;
}
.about_active .about__name {
  transform: translateY(0px);
  opacity: 1;
  transition: transform 0.5s ease-out 0.3s, opacity 0.5s ease-out 0.3s;
}
.about_active .about__title {
  transform: translateX(0px);
  opacity: 1;
  transition: transform 0.5s ease-out 0.3s, opacity 0.5s ease-out 0.3s;
}
.about_active .about__social {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.3s ease-out 0.3s, opacity 0.5s ease-out 0.3s, box-shadow 0.15s linear;
}
.about_active .about__auth {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.5s ease-out 0.3s, opacity 0.5s ease-out 0.3s;
}
.about_active .about__auth-cloud::after {
  animation: fly 3s linear 0.8s infinite;
  transform: scale(1);
  opacity: 1;
  transition: transform 0.5s ease-out 0.3s, opacity 0.5s ease-out 0.3s;
}
.about_active .about__descr {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.5s ease-out 0.3s, opacity 0.5s ease-out 0.3s;
}
.about_active .about__achiev {
  opacity: 1;
  transition: left 0.15s linear, bottom 0.15s linear, z-index 0.15s linear, opacity 0.15s ease-out 0.8s;
}
.about__content {
  max-width: min(100vw, 150vh);
  margin: 0 auto;
  height: 100%;
  position: relative;
  padding: min(5.5555555556vw, 8.3333333333vh);
  display: flex;
  justify-content: space-between;
}
.about__content .about__column:nth-child(3) {
  justify-content: space-between;
}
.about__name {
  position: absolute;
  height: min(6.25vw, 9.375vh);
  font-size: min(4.4444444444vw, 6.6666666667vh);
  font-weight: 700;
  line-height: min(6.25vw, 9.375vh);
  text-shadow: min(0vw, 0vh) min(0.2083333333vw, 0.3125vh) min(0.6944444444vw, 1.0416666667vh) var(--black);
  color: var(--orange);
  transform: translateY(-150px);
  opacity: 0;
}
.about__name span {
  color: var(--white);
}
.about__column {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.about__title {
  font-family: "pixy";
  font-size: min(11.8055555556vw, 17.7083333333vh);
  margin-bottom: 0;
  line-height: 50%;
  letter-spacing: min(0.6944444444vw, 1.0416666667vh);
  text-transform: uppercase;
  text-shadow: min(0.2083333333vw, 0.3125vh) min(0.2083333333vw, 0.3125vh) min(0.3472222222vw, 0.5208333333vh) var(--black);
  color: var(--orange);
  transform: translateX(-200px);
  opacity: 0;
}
.about__auth {
  width: -moz-max-content;
  width: max-content;
  margin-bottom: min(6.9444444444vw, 10.4166666667vh);
  position: relative;
  cursor: pointer;
  transform: scale(0.001);
  opacity: 0;
}
.about__auth:hover .about__auth-img {
  transform: rotateY(-180deg);
}
.about__auth:hover .about__auth-info {
  transform: rotateY(0deg);
}
.about__auth_active .about__auth-img {
  z-index: -1;
}
.about__auth-cloud::after {
  content: "«Кнопки сами себя не спроектируют!»";
  display: inline-block;
  height: min(13.8888888889vw, 20.8333333333vh);
  width: min(25.6944444444vw, 38.5416666667vh);
  position: absolute;
  top: min(12.5vw, 18.75vh);
  right: min(-4.1666666667vw, -6.25vh);
  z-index: 3;
  background: url("/public/img/cloud.png") center/100% 100% no-repeat;
  padding-top: min(2.0833333333vw, 3.125vh);
  padding-right: min(2.0833333333vw, 3.125vh);
  padding-left: min(3.4722222222vw, 5.2083333333vh);
  font-size: min(1.875vw, 2.8125vh);
  line-height: 130%;
  transform: scale(0.001);
  opacity: 0;
}
.about__auth-img {
  border: 4px solid var(--grey);
  border-width: min(0.2777777778vw, 0.4166666667vh);
  height: min(20.8333333333vw, 31.25vh);
  width: min(20.8333333333vw, 31.25vh);
  border-radius: 50%;
  background-color: var(--black);
  transition: transform 0.3s linear, z-index 0.3s linear;
  transform: rotateY(0deg);
  position: relative;
  z-index: 2;
  overflow: hidden;
  box-shadow: min(0vw, 0vh) min(0.2083333333vw, 0.3125vh) min(0.6944444444vw, 1.0416666667vh) min(0.3472222222vw, 0.5208333333vh) var(--black);
}
.about__auth-img img {
  height: auto;
  width: 100%;
}
.about__auth-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: min(0.6944444444vw, 1.0416666667vh);
  height: min(20.8333333333vw, 31.25vh);
  width: min(20.8333333333vw, 31.25vh);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(-180deg);
  border: 4px solid var(--grey);
  border-width: min(0.2777777778vw, 0.4166666667vh);
  background-color: var(--black);
  transition: transform 0.3s linear;
}
.about__auth-info span {
  font-size: min(1.3888888889vw, 2.0833333333vh);
  color: white;
}
.about__info:hover .about__achiev {
  left: min(-6.9444444444vw, -10.4166666667vh);
  bottom: min(4.1666666667vw, 6.25vh);
  z-index: 4;
}
.about__descr {
  position: relative;
  z-index: 2;
  width: min(31.25vw, 46.875vh);
  height: min(39.5833333333vw, 59.375vh);
  padding: min(2.0833333333vw, 3.125vh);
  border-radius: min(2.0833333333vw, 3.125vh);
  border: 3px solid var(--grey);
  border-width: min(0.2083333333vw, 0.3125vh);
  box-shadow: min(0vw, 0vh) min(0.2083333333vw, 0.3125vh) min(0.4861111111vw, 0.7291666667vh) min(0.2083333333vw, 0.3125vh) var(--black);
  background-color: var(--black);
  cursor: pointer;
  transform: translateX(300px);
  opacity: 0;
}
.about__descr * {
  cursor: pointer;
}
.about__descr-title {
  text-align: center;
  padding-bottom: min(0.3472222222vw, 0.5208333333vh);
  margin-bottom: min(0.6944444444vw, 1.0416666667vh);
  font-size: min(2.3611111111vw, 3.5416666667vh);
  line-height: 130%;
  font-weight: 700;
  color: var(--orange);
  border-bottom: 3px solid var(--orange);
  border-bottom-width: min(0.2083333333vw, 0.3125vh);
}
.about__descr-text {
  text-indent: 1ch;
  font-size: min(1.3888888889vw, 2.0833333333vh);
  line-height: 130%;
  color: var(--white);
  word-break: keep-all;
}
.about__achiev {
  position: absolute;
  z-index: 0;
  bottom: min(2.7777777778vw, 4.1666666667vh);
  left: min(-3.4722222222vw, -5.2083333333vh);
  width: min(31.25vw, 46.875vh);
  height: min(39.5833333333vw, 59.375vh);
  padding: min(2.0833333333vw, 3.125vh);
  border-radius: min(2.0833333333vw, 3.125vh);
  border: 3px solid var(--grey);
  border-width: min(0.2083333333vw, 0.3125vh);
  box-shadow: min(0vw, 0vh) min(0.2083333333vw, 0.3125vh) min(0.4861111111vw, 0.7291666667vh) min(0.2083333333vw, 0.3125vh) var(--black);
  background-color: var(--black);
  cursor: pointer;
  opacity: 0;
}
.about__achiev * {
  cursor: pointer;
}
.about__achiev-title {
  text-align: center;
  padding-bottom: min(0.3472222222vw, 0.5208333333vh);
  margin-bottom: min(0.6944444444vw, 1.0416666667vh);
  font-size: min(2.3611111111vw, 3.5416666667vh);
  line-height: 130%;
  font-weight: 700;
  color: var(--orange);
  border-bottom: 3px solid var(--orange);
  border-bottom-width: min(0.2083333333vw, 0.3125vh);
}
.about__achiev-list {
  display: flex;
  flex-direction: column;
  gap: min(0.3472222222vw, 0.5208333333vh);
}
.about__achiev-text {
  list-style-type: square;
  list-style-position: inside;
  font-size: min(1.3888888889vw, 2.0833333333vh);
  line-height: 130%;
  color: var(--white);
}
.about__links {
  align-self: flex-end;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  gap: min(2.0833333333vw, 3.125vh);
}
.about__social {
  width: min(6.25vw, 9.375vh);
  height: min(6.25vw, 9.375vh);
  border-radius: min(1.1805555556vw, 1.7708333333vh);
  cursor: pointer;
  position: relative;
  transform: scale(0.001);
  opacity: 0;
}
.about__social:hover {
  transform: scale(0.95);
  box-shadow: min(0vw, 0vh) min(0vw, 0vh) min(0.6944444444vw, 1.0416666667vh) min(0.2083333333vw, 0.3125vh) var(--white);
  transition: transform 0.15s linear, box-shadow 0.15s linear;
}
.about__social a {
  display: block;
  height: 100%;
  width: 100%;
  padding: min(0.8333333333vw, 1.25vh);
  border: 3px solid var(--black);
  border-width: min(0.2083333333vw, 0.3125vh);
  border-radius: min(1.1805555556vw, 1.7708333333vh);
  background-color: var(--black);
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.8);
}
.about__social a:hover {
  outline: 3px solid var(--text-orange);
  outline-width: min(0.2083333333vw, 0.3125vh);
}
.about__social a:hover img {
  animation: move-top-bottom 0.5s linear infinite;
}
.about__social img {
  position: relative;
  max-width: 100%;
  height: auto;
}

@keyframes fly {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(min(0.5555555556vw, 0.8333333333vh));
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(min(-0.5555555556vw, -0.8333333333vh));
  }
  100% {
    transform: translateY(0px);
  }
}
.skills {
  height: 100%;
  background-color: var(--orange);
  min-width: 100vw;
  position: relative;
  z-index: 20;
  right: calc((var(--page) - 1) * 100vw);
  transition: right 0.3s linear;
}
.skills_active .skills__wrapper-item {
  transform: scale(1);
  transition: transform 0.3s ease-in-out 0.6s;
  opacity: 1;
}
.skills_active .skills__banner {
  transition: top 0.3s ease-out 0.3s, opacity 0.3s ease-out 0.3s;
}
.skills_active .skills__line {
  transition: opacity 0.5s ease-out 0.3s;
  opacity: 1;
}
.skills_active .scale-9 {
  transform: scale(0.9) !important;
  position: relative;
  top: min(0.3472222222vw, 0.5208333333vh);
}
.skills_active .scale-8 {
  transform: scale(0.8) !important;
  position: relative;
  top: min(1.9444444444vw, 2.9166666667vh);
}
.skills__content {
  margin: 0 auto;
  max-width: min(100vw, 150vh);
  height: 100%;
  padding-left: min(5.5555555556vw, 8.3333333333vh);
  padding-right: min(5.5555555556vw, 8.3333333333vh);
  padding-top: min(3.4722222222vw, 5.2083333333vh);
  padding-bottom: min(3.4722222222vw, 5.2083333333vh);
  display: flex;
  justify-content: space-between;
  position: relative;
}
.skills__banner {
  margin: 0 auto;
  padding-left: min(2.7777777778vw, 4.1666666667vh);
  padding-right: min(2.7777777778vw, 4.1666666667vh);
  padding-top: min(3.4722222222vw, 5.2083333333vh);
  padding-bottom: min(1.3888888889vw, 2.0833333333vh);
  position: absolute;
  top: min(-13.8888888889vw, -20.8333333333vh);
  left: min(27.4305555556vw, 41.1458333333vh);
  border-radius: min(1.3888888889vw, 2.0833333333vh);
  width: -moz-max-content;
  width: max-content;
  background-color: var(--black);
  box-shadow: min(0vw, 0vh) min(0vw, 0vh) min(1.0416666667vw, 1.5625vh) min(0.3472222222vw, 0.5208333333vh) var(--white);
  opacity: 0;
}
.skills__banner_active {
  top: min(3.8194444444vw, 5.7291666667vh);
  opacity: 1;
}
.skills__banner::before {
  content: "";
  display: inline-block;
  width: min(2.7777777778vw, 4.1666666667vh);
  height: min(20.8333333333vw, 31.25vh);
  background-color: var(--black);
  position: absolute;
  z-index: -1;
  top: min(-11.1111111111vw, -16.6666666667vh);
  left: min(6.9444444444vw, 10.4166666667vh);
}
.skills__banner::after {
  content: "";
  width: min(2.7777777778vw, 4.1666666667vh);
  height: min(20.8333333333vw, 31.25vh);
  background-color: var(--black);
  position: absolute;
  z-index: -1;
  top: min(-11.1111111111vw, -16.6666666667vh);
  right: min(6.9444444444vw, 10.4166666667vh);
}
.skills__title {
  font-family: "pixy";
  font-size: min(9.0277777778vw, 13.5416666667vh);
  margin-bottom: 0;
  line-height: 70%;
  letter-spacing: min(0.6944444444vw, 1.0416666667vh);
  text-transform: uppercase;
  text-align: center;
  color: var(--orange);
}
.skills__block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: min(40.2777777778vw, 60.4166666667vh);
  width: -moz-max-content;
  width: max-content;
  position: relative;
}
.skills__block_left {
  flex-direction: column-reverse;
}
.skills__block_right {
  flex-direction: row;
  align-items: flex-end;
  gap: min(0.6944444444vw, 1.0416666667vh);
}
.skills__block_right .skills__column {
  flex-direction: column-reverse;
  gap: 0;
}
.skills__column {
  display: flex;
  justify-content: center;
  height: -moz-max-content;
  height: max-content;
  gap: min(0.6944444444vw, 1.0416666667vh);
  position: relative;
}
.skills__wrapper-item {
  padding: min(1.0416666667vw, 1.5625vh);
  background-color: var(--black);
  border-radius: min(1.0416666667vw, 1.5625vh);
  border-top-left-radius: min(0.3472222222vw, 0.5208333333vh);
  border-top-right-radius: min(0.3472222222vw, 0.5208333333vh);
  transform: scale(0.001);
  opacity: 0;
  position: relative;
  perspective: min(10.4166666667vw, 15.625vh);
  border: 2px solid var(--white);
  border-width: min(0.1388888889vw, 0.2083333333vh);
  border-top-width: 0px;
}
.skills__wrapper-item::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: min(10.2777777778vw, 15.4166666667vh);
  height: min(6.9444444444vw, 10.4166666667vh);
  top: -37%;
  left: min(1.1111111111vw, 1.6666666667vh);
  border-radius: min(0.3472222222vw, 0.5208333333vh);
  background-color: var(--black);
  border: 3px solid var(--white);
  border-width: min(0.2083333333vw, 0.3125vh);
  border-top-width: min(0.3472222222vw, 0.5208333333vh);
  transform: rotateX(40deg);
}
.skills__item {
  display: inline-block;
  display: flex;
  align-items: center;
  width: min(10.4166666667vw, 15.625vh);
  height: min(10.4166666667vw, 15.625vh);
  border-radius: 20%;
  border: 2px solid var(--grey);
  border-width: min(0.1388888889vw, 0.2083333333vh);
  transition: transform 0.3s linear, border-color 0.3s linear;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 4;
}
.skills__item::before {
  content: "";
  display: inline-block;
  width: min(10.4166666667vw, 15.625vh);
  height: 0px;
  border-radius: min(1.0416666667vw, 1.5625vh);
  position: absolute;
  bottom: min(-0.1388888889vw, -0.2083333333vh);
  left: min(-0.1388888889vw, -0.2083333333vh);
  z-index: 0;
  transition: height 0.3s linear;
  background-color: var(--orange);
  background-clip: border-box;
}
.skills__item:hover {
  border-color: var(--orange);
}
.skills__item:hover span {
  color: var(--black);
}
.skills__item:hover::before {
  height: min(12.5vw, 18.75vh);
}
.skills__item-text {
  width: 100%;
  font-size: min(1.6666666667vw, 2.5vh);
  color: var(--grey);
  font-weight: 500;
  padding: min(0.6944444444vw, 1.0416666667vh);
  line-height: 130%;
  text-align: center;
  transition: all linear 0.3s;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.skills__line {
  position: absolute;
  background-color: var(--black);
  z-index: -1;
  opacity: 0;
}
.skills__line-1 {
  height: min(0.3472222222vw, 0.5208333333vh);
  width: min(14.2361111111vw, 21.3541666667vh);
  bottom: 0;
  left: 0;
  transform-origin: left center;
  transform: rotateZ(-45deg);
}
.skills__line-2 {
  height: min(0.3472222222vw, 0.5208333333vh);
  width: min(14.2361111111vw, 21.3541666667vh);
  bottom: 0;
  right: min(1.0416666667vw, 1.5625vh);
  transform-origin: right center;
  transform: rotateZ(45deg);
}
.skills__line-3 {
  height: min(100vw, 150vh);
  width: min(0.3472222222vw, 0.5208333333vh);
  bottom: min(10.0694444444vw, 15.1041666667vh);
  right: min(10.7638888889vw, 16.1458333333vh);
}
.skills__line-4 {
  height: min(100vw, 150vh);
  width: min(0.3472222222vw, 0.5208333333vh);
  bottom: min(10.0694444444vw, 15.1041666667vh);
  left: min(9.7222222222vw, 14.5833333333vh);
}
.skills__line-5 {
  height: min(0.3472222222vw, 0.5208333333vh);
  width: 84.375vw;
  bottom: min(10.0694444444vw, 15.1041666667vh);
  left: min(9.7222222222vw, 14.5833333333vh);
}

.portfolio {
  height: 100%;
  min-width: 100vw;
  position: relative;
  z-index: 20;
  background: var(--blue);
  right: calc((var(--page) - 1) * 100vw);
  transition: right 0.3s linear;
  overflow-y: hidden;
}
.portfolio_active .portfolio__title {
  transition: opacity 0.5s ease-out 0.3s, transform 0.5s ease-out 0.3s;
  transform: translateY(0px);
  opacity: 1;
}
.portfolio_active .portfolio__project {
  transition: opacity 0.3s ease-out 0.3s, transform 0.3s ease-out 0.3s;
  transform: translateX(0px);
  opacity: 1;
}
.portfolio_active .portfolio__project-img {
  transition: opacity 0.5s ease-out 0.6s, transform 0.5s ease-out 0.6s;
  transform: scale(1);
  opacity: 1;
}
.portfolio_active .portfolio__project-info {
  transition: opacity 0.5s ease-out 0.6s, transform 0.5s ease-out 0.6s;
  transform: scale(1);
  opacity: 1;
}
.portfolio_active .portfolio__row {
  transition: opacity 0.5s ease-out 0.6s, transform 0.5s ease-out 0.6s;
  transform: translateY(0px);
  opacity: 1;
}
.portfolio_active .portfolio__info {
  transition: opacity 0.3s ease-out 0.3s, transform 0.3s ease-out 0.3s;
  transform: translateX(0px);
  opacity: 1;
}
.portfolio_active .portfolio__info-title {
  transition: opacity 0.5s ease-out 0.6s, transform 0.5s ease-out 0.6s;
  transform: translateX(0px);
  opacity: 1;
}
.portfolio_active .portfolio__info-line {
  transition: opacity 0.5s ease-out 0.8s;
  opacity: 1;
}
.portfolio_active .portfolio__info-button {
  transition: background-color 0.15s linear, border-color 0.15s linear, color 0.15s linear, box-shadow 0.15s linear, opacity 0.5s ease-out 0.6s, transform 0.5s ease-out 0.6s;
  transform: scale(1);
  opacity: 1;
}
.portfolio__content {
  margin: 0 auto;
  max-width: min(100vw, 150vh);
  height: 100%;
  padding-left: min(5.5555555556vw, 8.3333333333vh);
  padding-right: min(5.5555555556vw, 8.3333333333vh);
  padding-top: min(3.4722222222vw, 5.2083333333vh);
  padding-bottom: min(3.4722222222vw, 5.2083333333vh);
  display: flex;
  gap: min(2.0833333333vw, 3.125vh);
  justify-content: space-between;
}
.portfolio__content .portfolio__column:nth-child(2) {
  flex: 1;
}
.portfolio__column {
  margin-top: min(2.7777777778vw, 4.1666666667vh);
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.portfolio__row {
  height: min(3.2638888889vw, 4.8958333333vh);
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  border-radius: min(1.3888888889vw, 2.0833333333vh);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transform: translateY(150px);
  opacity: 0;
}
.portfolio__row .portfolio__name:first-child {
  left: 0;
  transform: translateX(0%);
}
.portfolio__name {
  max-width: min(9.375vw, 14.0625vh);
  display: inline-block;
  height: min(6.25vw, 9.375vh);
  width: -moz-max-content;
  width: max-content;
  padding: min(0.6944444444vw, 1.0416666667vh);
  font-size: min(1.3888888889vw, 2.0833333333vh);
  border-radius: min(1.3888888889vw, 2.0833333333vh);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: var(--white);
  border: 3px solid var(--grey);
  border-width: min(0.2083333333vw, 0.3125vh);
  border-bottom: 0px;
  background-color: var(--black);
  position: relative;
  top: 10%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: min(0vw, 0vh) min(0.2083333333vw, 0.3125vh) min(0.4861111111vw, 0.7291666667vh) min(0.2083333333vw, 0.3125vh) var(--black);
  transition: top 0.15s linear, color 0.15s linear, box-shadow 0.15s linear;
  cursor: pointer;
}
.portfolio__name_active {
  top: -70%;
  z-index: -1;
  color: var(--orange);
  box-shadow: min(0vw, 0vh) min(0vw, 0vh) min(0.4861111111vw, 0.7291666667vh) min(0.2083333333vw, 0.3125vh) var(--orange);
}
.portfolio__project {
  position: relative;
  z-index: 1;
  flex: 1;
  width: 100%;
  padding: min(1.3888888889vw, 2.0833333333vh);
  border-radius: min(2.0833333333vw, 3.125vh);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 3px solid var(--grey);
  border-width: min(0.2083333333vw, 0.3125vh);
  box-shadow: min(0vw, 0vh) min(0.2083333333vw, 0.3125vh) min(0.4861111111vw, 0.7291666667vh) min(0.2083333333vw, 0.3125vh) var(--black);
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  transform: translateX(-300px);
  opacity: 0;
}
.portfolio__project-img {
  margin-bottom: min(1.3888888889vw, 2.0833333333vh);
  max-width: min(46.4583333333vw, 69.6875vh);
  height: min(29.8611111111vw, 44.7916666667vh);
  transform: scale(0.001);
  opacity: 0;
}
.portfolio__project-img img {
  border-radius: min(1.3888888889vw, 2.0833333333vh);
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio__project-info {
  flex: 1;
  padding: min(1.3888888889vw, 2.0833333333vh);
  height: 100%;
  border-radius: min(2.0833333333vw, 3.125vh);
  border: 3px solid var(--grey);
  border-width: min(0.2083333333vw, 0.3125vh);
  background-color: var(--black);
  transform: scale(0.001);
  opacity: 0;
}
.portfolio__project-tag-row {
  margin-bottom: min(1.3888888889vw, 2.0833333333vh);
  display: flex;
  gap: min(1.0416666667vw, 1.5625vh);
}
.portfolio__project-tag {
  display: inline-block;
  padding-left: min(0.6944444444vw, 1.0416666667vh);
  padding-right: min(0.6944444444vw, 1.0416666667vh);
  padding-top: min(0.4166666667vw, 0.625vh);
  padding-bottom: min(0.4166666667vw, 0.625vh);
  font-size: min(1.3888888889vw, 2.0833333333vh);
  border-radius: min(0.8333333333vw, 1.25vh);
  min-width: min(5.5555555556vw, 8.3333333333vh);
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  background-color: var(--orange);
  cursor: default;
}
.portfolio__project-name {
  margin-bottom: min(0.6944444444vw, 1.0416666667vh);
  font-size: min(2.5vw, 3.75vh);
  line-height: 130%;
  font-weight: 500;
  color: var(--orange);
}
.portfolio__project-descr {
  font-size: min(1.6666666667vw, 2.5vh);
  line-height: 130%;
  color: var(--white);
}
.portfolio__title {
  margin-top: min(3.4722222222vw, 5.2083333333vh);
  font-family: "pixy";
  font-size: min(6.9444444444vw, 10.4166666667vh);
  margin-bottom: 0;
  line-height: 50%;
  text-transform: uppercase;
  text-shadow: min(0.2083333333vw, 0.3125vh) min(0.2083333333vw, 0.3125vh) min(0.3472222222vw, 0.5208333333vh) var(--black);
  color: var(--orange);
  transform: translateY(150px);
  opacity: 0;
}
.portfolio__info {
  margin-top: min(3.2638888889vw, 4.8958333333vh);
  padding: min(2.0833333333vw, 3.125vh);
  flex: 1;
  width: 100%;
  border-radius: min(2.0833333333vw, 3.125vh);
  border: 3px solid var(--grey);
  border-width: min(0.2083333333vw, 0.3125vh);
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  box-shadow: min(0vw, 0vh) min(0.2083333333vw, 0.3125vh) min(0.4861111111vw, 0.7291666667vh) min(0.2083333333vw, 0.3125vh) var(--black);
  transform: translateX(250px);
  opacity: 0;
}
.portfolio__info-title {
  margin-bottom: min(1.3888888889vw, 2.0833333333vh);
  font-size: min(3.3333333333vw, 5vh);
  font-weight: 700;
  color: var(--orange);
  transform: translateX(150px);
  opacity: 0;
}
.portfolio__info-line {
  font-size: min(1.3888888889vw, 2.0833333333vh);
  line-height: 150%;
  color: var(--white);
  list-style: disc inside;
  opacity: 0;
}
.portfolio__info-button {
  margin-top: auto;
  text-align: center;
  padding: min(1.0416666667vw, 1.5625vh);
  font-size: min(1.9444444444vw, 2.9166666667vh);
  border-radius: min(1.0416666667vw, 1.5625vh);
  border: 3px solid var(--white);
  border-width: min(0.2083333333vw, 0.3125vh);
  color: var(--white);
  transform: scale(0.001);
  opacity: 0;
}
.portfolio__info-button:hover {
  background-color: var(--white);
  border-color: var(--black);
  color: var(--black);
  box-shadow: min(0vw, 0vh) min(0vw, 0vh) min(0.4861111111vw, 0.7291666667vh) min(0.2083333333vw, 0.3125vh) var(--white);
}

.contact {
  height: 100%;
  min-width: 100vw;
  position: relative;
  background-color: var(--orange);
  right: calc((var(--page) - 1) * 100vw);
  transition: right 0.3s linear;
}
.contact_active .contact__title {
  transform: translateX(0);
  opacity: 1;
  transition: opacity 0.5s ease-out 0.5s, transform 0.5s ease-out 0.5s;
}
.contact_active .contact__description {
  transform: translateX(0);
  opacity: 1;
  transition: opacity 0.5s ease-out 0.5s, transform 0.5s ease-out 0.5s;
}
.contact_active .contact__form-name {
  transform: rotateZ(0deg);
  opacity: 1;
  transition: opacity 0.5s ease-out 0.3s, transform 0.5s ease-out 0.3s;
}
.contact_active .contact__form-email {
  transform: rotateZ(0deg);
  opacity: 1;
  transition: opacity 0.5s ease-out 0.3s, transform 0.5s ease-out 0.3s;
}
.contact_active .contact__form-description {
  transform: translateY(0);
  opacity: 1;
  transition: opacity 0.5s ease-out 0.3s, transform 0.5s ease-out 0.3s;
}
.contact_active .contact__form-submit {
  transform: scale(1);
  opacity: 1;
  transition: opacity 0.5s ease-out 0.5s, transform 0.5s ease-out 0.5s;
}
.contact__content {
  margin: 0 auto;
  max-width: min(100vw, 150vh);
  height: 100%;
  padding-left: min(5.5555555556vw, 8.3333333333vh);
  padding-right: min(5.5555555556vw, 8.3333333333vh);
  padding-top: min(3.4722222222vw, 5.2083333333vh);
  padding-bottom: min(3.4722222222vw, 5.2083333333vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__title {
  font-family: "pixy";
  font-size: min(9.0277777778vw, 13.5416666667vh);
  text-transform: uppercase;
  margin-bottom: min(0.6944444444vw, 1.0416666667vh);
  text-align: center;
  color: var(--white);
  font-weight: 500;
  text-shadow: min(0.2083333333vw, 0.3125vh) min(0.2083333333vw, 0.3125vh) min(0.3472222222vw, 0.5208333333vh) var(--black);
  transform: translateX(-300px);
  opacity: 0;
}
.contact__title::before, .contact__title::after {
  border-color: var(--bg-black);
}
.contact__description {
  max-width: min(38.8888888889vw, 58.3333333333vh);
  margin-bottom: min(2.0833333333vw, 3.125vh);
  text-align: center;
  font-size: min(1.6666666667vw, 2.5vh);
  line-height: 130%;
  font-weight: 500;
  color: var(--black);
  transform: translateX(300px);
  opacity: 0;
}
.contact__wrapper-form {
  margin: 0 auto;
  max-width: min(45.8333333333vw, 68.75vh);
  width: 100%;
}
.contact__form {
  display: flex;
  gap: min(1.3888888889vw, 2.0833333333vh);
  flex-direction: column;
}
.contact__form input, .contact__form textarea {
  font-size: min(1.3888888889vw, 2.0833333333vh);
  border-radius: min(0.6944444444vw, 1.0416666667vh);
}
.contact__form-name {
  height: -moz-max-content;
  height: max-content;
  padding: min(1.0416666667vw, 1.5625vh);
  box-shadow: min(0.2083333333vw, 0.3125vh) min(0.2083333333vw, 0.3125vh) min(0.3472222222vw, 0.5208333333vh) min(0vw, 0vh) var(--black);
  transform: rotateZ(-90deg);
  transform-origin: left center;
  opacity: 0;
}
.contact__form-email {
  height: -moz-max-content;
  height: max-content;
  padding: min(1.0416666667vw, 1.5625vh);
  box-shadow: min(0.2083333333vw, 0.3125vh) min(0.2083333333vw, 0.3125vh) min(0.3472222222vw, 0.5208333333vh) min(0vw, 0vh) var(--black);
  transform: rotateZ(-90deg);
  transform-origin: right center;
  opacity: 0;
}
.contact__form-submit {
  height: min(2.7777777778vw, 4.1666666667vh);
  box-shadow: min(0.2083333333vw, 0.3125vh) min(0.2083333333vw, 0.3125vh) min(0.3472222222vw, 0.5208333333vh) min(0vw, 0vh) var(--black);
}
.contact__form-description {
  resize: none;
  padding: min(1.0416666667vw, 1.5625vh);
  box-shadow: min(0.2083333333vw, 0.3125vh) min(0.2083333333vw, 0.3125vh) min(0.3472222222vw, 0.5208333333vh) min(0vw, 0vh) var(--black);
  height: min(17.3611111111vw, 26.0416666667vh);
  transform: translateY(150px);
  opacity: 0;
}
.contact__form textarea::-moz-placeholder, .contact__form input::-moz-placeholder {
  font-size: min(1.1111111111vw, 1.6666666667vh);
}
.contact__form textarea::placeholder, .contact__form input::placeholder {
  font-size: min(1.1111111111vw, 1.6666666667vh);
}
.contact__form-submit {
  height: min(4.1666666667vw, 6.25vh);
  font-size: min(1.3888888889vw, 2.0833333333vh);
  border-radius: min(0.6944444444vw, 1.0416666667vh);
  color: var(--white);
  background-color: var(--black);
  text-transform: uppercase;
  transform: scale(0.0001);
  opacity: 0;
}
.contact__form-submit:active {
  transform: translateY(5px);
  transition: transform 0.2s linear;
}
.contact__error {
  padding-left: min(0.6944444444vw, 1.0416666667vh);
  height: min(1.3888888889vw, 2.0833333333vh);
  width: -moz-max-content;
  width: max-content;
  color: red;
  font-size: min(1.3888888889vw, 2.0833333333vh);
  display: inline-block;
  transition: all 0.2s linear;
}

:root {
  --black: #101010;
  --grey: #e5e5e5;
  --white: #f8f8f8;
  --orange: #fca311;
  --blue: #13264e;
}

* {
  font-family: "Montserrat";
}

img {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

#root {
  height: 100vh;
  min-width: 320px;
}

html {
  scrollbar-gutter: stable;
}

body {
  min-width: 320px;
}

.scroll-lock {
  overflow: hidden;
}

.search {
  display: block;
}

.no-search {
  display: none;
}

.first-block {
  position: relative;
  z-index: 4;
}

.move-block-wrapper {
  height: var(--d);
}

.move-block {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

.bottom-block {
  position: sticky;
  bottom: calc(-1 * max(745px - 100svh, 100svh - 745px));
  z-index: 0;
}

footer,
header,
section {
  z-index: 2;
  overflow-x: hidden;
}/*# sourceMappingURL=style.css.map */