@import "../../public/font/fonts";
@import "./mixins/null-style";
@import "./mixins/adaptive";
@import "./mixins/animation";
@import "../content/import-scss";

:root {
    --bg-black: #101010;
    --bg-black-grey-1: #181818;
    --bg-black-grey-2: #222222;
    --text-grey: #838383;
    --text-white: #f8f8f8;
    --text-orange: #f39200;
}

* {
    font-family: 'Montserrat';
}

img {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

#root {
    height: auto;
    min-width: 375px;
}

html {
    scrollbar-gutter: stable;
}

body {
    
}

.scroll-lock {
    overflow: hidden;
}

.padding-block {
    @include adap(padding-right, 80, 80, 80, 40, 20);
    @include adap(padding-left, 80, 80, 80, 40, 20);
}

.search {
    display: block;
}

.no-search {
    display: none;
}

.move-block-wrapper {
    height: calc(100dvh * 2 + 200px);
}

.move-block {
    position: sticky;
    top: 0;
    left: 0;
}
.bottom-block {
    position: sticky;
    bottom: 0;
    z-index: -1;
}

footer,
header,
section { 
    z-index: 2;
    background-color: var(--bg-black);
}

.show-block {
    transform: translateX(0%);
    opacity: 1;
    transition: all 0.3s ease-in;
}

.move-left {
    opacity: 0;
    transform: translateX(-30%);
}

.move-right {
    opacity: 0;
    transform: translateX(30%);
}

h2 {
    line-height: 130%;
    width: max-content;
    position: relative;
    &::before {
        content: "";
        width: 25px;
        height: 25px;
        border-left: 3px solid var(--text-white);
        border-bottom: 3px solid var(--text-white);
        position: absolute;
        bottom: -5px;
        left: -15px;
    }
    &::after {
        content: "";
        width: 25px;
        height: 25px;
        border-right: 3px solid var(--text-white);
        border-top: 3px solid var(--text-white);
        position: absolute;
        top: -5px;
        right: -15px;
    }
}

