@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("../../public/font/Montserrat-Regular.eot");
  src: url("../../public/font/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../../public/font/Montserrat-Regular.woff2") format("woff2"), url("../../public/font/Montserrat-Regular.woff") format("woff"), url("../../public/font/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../public/font/Montserrat-Medium.eot");
  src: url("../../public/font/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../../public/font/Montserrat-Medium.woff2") format("woff2"), url("../../public/font/Montserrat-Medium.woff") format("woff"), url("../../public/font/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../public/font/Montserrat-Bold.eot");
  src: url("../../public/font/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../../public/font/Montserrat-Bold.woff2") format("woff2"), url("../../public/font/Montserrat-Bold.woff") format("woff"), url("../../public/font/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: initial;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: currentColor;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
  cursor: default;
}

p {
  cursor: default;
}

address {
  font-style: normal;
}

select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@keyframes move-bg {
  0% {
    background-position: -200px center;
  }
  80%, 100% {
    background-position: calc(100% + 200px) center;
  }
}
@keyframes move-border {
  0% {
    border-top-left-radius: 55%;
  }
  10% {
    border-bottom-left-radius: 25%;
  }
  20% {
    border-top-right-radius: 20%;
  }
  40% {
    border-bottom-right-radius: 55%;
  }
  50% {
    border-top-left-radius: 20%;
  }
  60% {
    border-bottom-left-radius: 60%;
  }
  70% {
    border-top-right-radius: 50%;
  }
  90% {
    border-bottom-right-radius: 18%;
  }
  100% {
    border-top-left-radius: 55%;
  }
}
@keyframes img-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.header {
  height: 100px;
  border: 2px solid var(--bg-black-grey-2);
}
.header__wrapper {
  margin: 0 auto;
  max-width: 1440px;
  height: 100%;
}
.header__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__nav-row {
  display: flex;
  gap: 40px;
}
.header__link {
  font-size: 20px;
  color: var(--text-white);
}

.about__wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.about__content {
  padding-bottom: 50px;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1440px) {
  .about__content {
    padding-top: 100px;
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  .about__content {
    padding-top: calc(100px + 0 * (100vw - 1280px) / (1440 - 1280));
  }
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .about__content {
    padding-top: calc(100px + 0 * (100vw - 1024px) / (1280 - 1024));
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .about__content {
    padding-top: calc(70px + 30 * (100vw - 768px) / (1024 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .about__content {
    padding-top: calc(40px + 30 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .about__content {
    padding-top: 40px;
  }
}
.about__title, .skills__title {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-white);
}
@media (min-width: 1440px) {
  .about__title, .skills__title {
    margin-bottom: 120px;
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  .about__title, .skills__title {
    margin-bottom: calc(120px + 0 * (100vw - 1280px) / (1440 - 1280));
  }
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .about__title, .skills__title {
    margin-bottom: calc(120px + 0 * (100vw - 1024px) / (1280 - 1024));
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .about__title, .skills__title {
    margin-bottom: calc(100px + 20 * (100vw - 768px) / (1024 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .about__title, .skills__title {
    margin-bottom: calc(80px + 20 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .about__title, .skills__title {
    margin-bottom: 80px;
  }
}
.about__info {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 1000px;
}
.about__img {
  border: 2px solid var(--text-grey);
  border-radius: 25%;
  animation: move-border 7s linear infinite;
  background-color: var(--bg-black-grey-2);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1440px) {
  .about__img {
    height: 280px;
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  .about__img {
    height: calc(280px + 0 * (100vw - 1280px) / (1440 - 1280));
  }
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .about__img {
    height: calc(280px + 0 * (100vw - 1024px) / (1280 - 1024));
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .about__img {
    height: calc(240px + 40 * (100vw - 768px) / (1024 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .about__img {
    height: calc(200px + 40 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .about__img {
    height: 200px;
  }
}
@media (min-width: 1440px) {
  .about__img {
    min-width: 280px;
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  .about__img {
    min-width: calc(280px + 0 * (100vw - 1280px) / (1440 - 1280));
  }
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .about__img {
    min-width: calc(280px + 0 * (100vw - 1024px) / (1280 - 1024));
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .about__img {
    min-width: calc(240px + 40 * (100vw - 768px) / (1024 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .about__img {
    min-width: calc(200px + 40 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .about__img {
    min-width: 200px;
  }
}
.about__img img {
  max-width: 80%;
  height: 80%;
}
.about__text {
  line-height: 130%;
  color: var(--text-grey);
}
@media (min-width: 1440px) {
  .about__text {
    font-size: 20px;
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  .about__text {
    font-size: calc(20px + 0 * (100vw - 1280px) / (1440 - 1280));
  }
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .about__text {
    font-size: calc(20px + 0 * (100vw - 1024px) / (1280 - 1024));
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .about__text {
    font-size: calc(18px + 2 * (100vw - 768px) / (1024 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .about__text {
    font-size: calc(18px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .about__text {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .about__info {
    flex-direction: column;
  }
  .about__text {
    text-align: center;
  }
}
.skills__wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.skills__content {
  padding-bottom: 50px;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1440px) {
  .skills__content {
    padding-top: 100px;
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  .skills__content {
    padding-top: calc(100px + 0 * (100vw - 1280px) / (1440 - 1280));
  }
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .skills__content {
    padding-top: calc(100px + 0 * (100vw - 1024px) / (1280 - 1024));
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .skills__content {
    padding-top: calc(70px + 30 * (100vw - 768px) / (1024 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .skills__content {
    padding-top: calc(40px + 30 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .skills__content {
    padding-top: 40px;
  }
}
.skills__title {
  margin-bottom: 60px;
}
.skills__list {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.skills__item {
  display: flex;
}
.skills__item::before {
  content: "";
  display: inline-block;
  position: relative;
  background: url("./img/plus.svg") center/100% 100% no-repeat;
}
@media (min-width: 1440px) {
  .skills__item::before {
    height: 40px;
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  .skills__item::before {
    height: calc(40px + 0 * (100vw - 1280px) / (1440 - 1280));
  }
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .skills__item::before {
    height: calc(40px + 0 * (100vw - 1024px) / (1280 - 1024));
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .skills__item::before {
    height: calc(30px + 10 * (100vw - 768px) / (1024 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .skills__item::before {
    height: calc(30px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .skills__item::before {
    height: 30px;
  }
}
@media (min-width: 1440px) {
  .skills__item::before {
    min-width: 40px;
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  .skills__item::before {
    min-width: calc(40px + 0 * (100vw - 1280px) / (1440 - 1280));
  }
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .skills__item::before {
    min-width: calc(40px + 0 * (100vw - 1024px) / (1280 - 1024));
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .skills__item::before {
    min-width: calc(30px + 10 * (100vw - 768px) / (1024 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .skills__item::before {
    min-width: calc(30px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .skills__item::before {
    min-width: 30px;
  }
}
@media (min-width: 1440px) {
  .skills__item::before {
    margin-right: 8px;
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  .skills__item::before {
    margin-right: calc(8px + 0 * (100vw - 1280px) / (1440 - 1280));
  }
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .skills__item::before {
    margin-right: calc(8px + 0 * (100vw - 1024px) / (1280 - 1024));
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .skills__item::before {
    margin-right: calc(5px + 3 * (100vw - 768px) / (1024 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .skills__item::before {
    margin-right: calc(5px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .skills__item::before {
    margin-right: 5px;
  }
}
@media (min-width: 1440px) {
  .skills__item::before {
    top: -9px;
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  .skills__item::before {
    top: calc(-9px + 0 * (100vw - 1280px) / (1440 - 1280));
  }
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .skills__item::before {
    top: calc(-9px + 0 * (100vw - 1024px) / (1280 - 1024));
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .skills__item::before {
    top: calc(-5px + -4 * (100vw - 768px) / (1024 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .skills__item::before {
    top: calc(-5px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .skills__item::before {
    top: -5px;
  }
}
.skills__item span {
  color: var(--text-orange);
}
@media (min-width: 1440px) {
  .skills__item span {
    font-size: 24px;
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  .skills__item span {
    font-size: calc(24px + 0 * (100vw - 1280px) / (1440 - 1280));
  }
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .skills__item span {
    font-size: calc(24px + 0 * (100vw - 1024px) / (1280 - 1024));
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .skills__item span {
    font-size: calc(22px + 2 * (100vw - 768px) / (1024 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .skills__item span {
    font-size: calc(22px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .skills__item span {
    font-size: 22px;
  }
}
.skills__item-text {
  line-height: 130%;
  color: var(--text-grey);
}
@media (min-width: 1440px) {
  .skills__item-text {
    font-size: 20px;
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  .skills__item-text {
    font-size: calc(20px + 0 * (100vw - 1280px) / (1440 - 1280));
  }
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .skills__item-text {
    font-size: calc(20px + 0 * (100vw - 1024px) / (1280 - 1024));
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .skills__item-text {
    font-size: calc(18px + 2 * (100vw - 768px) / (1024 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .skills__item-text {
    font-size: calc(18px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .skills__item-text {
    font-size: 18px;
  }
}

.intro {
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  z-index: 100;
  background-color: var(--bg-black);
  border-bottom: 2px solid var(--bg-black-grey-2);
}
.intro__wrapper {
  height: 100%;
}
.intro__content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro__title {
  font-size: 150px;
  color: rgba(255, 255, 255, 0.05);
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  line-height: 100%;
  position: relative;
  background: url("./img/circle.svg") center/200px 200px no-repeat;
  -webkit-background-clip: text;
          background-clip: text;
  animation: move-bg 2s linear infinite;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}
.intro__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 40px;
  display: inline-block;
}
.intro__arrow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 120px;
  background: url("./img/double-arrow-bottom.svg") center/40px 40px no-repeat;
  border: 2px solid var(--bg-black-grey-2);
  border-radius: 30%;
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.intro__arrow:hover {
  border-color: var(--text-orange);
  background: url("./img/double-arrow-bottom_active.svg") center/40px 40px no-repeat;
}

.portfolio__wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.portfolio__content {
  padding-top: 50px;
  padding-bottom: 120px;
  height: 100dvh;
}
.portfolio__title {
  text-transform: uppercase;
  color: var(--text-white);
  text-align: center;
}
.portfolio__filter {
  margin-bottom: 20px;
}
.portfolio__filter-title {
  font-size: 20px;
  color: var(--text-grey);
  margin-bottom: 5px;
}
.portfolio__filter-list {
  display: flex;
  gap: 10px;
}
.portfolio__filter-tag {
  position: relative;
}
.portfolio__filter-tag span {
  font-size: 18px;
}
.portfolio__filter-tag input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.portfolio__filter-tag:has(input:checked) {
  color: var(--bg-black);
  border-color: var(--text-orange);
  background-color: var(--text-orange);
}
.portfolio__list {
  padding-top: 30px;
  display: grid;
  grid-template: auto/repeat(2, minmax(auto, 620px));
  gap: 40px;
  border-top: 2px solid var(--bg-black-grey-2);
}
.portfolio__item {
  perspective: 300px;
}
.portfolio__item-content {
  display: flex;
  flex-direction: column;
  border-radius: 17px;
  background-color: var(--bg-black-grey-1);
  transition: all 0.3s linear;
  cursor: pointer;
}
.portfolio__item-content:hover {
  outline: 2px solid var(--text-orange);
}
.portfolio__item-img {
  overflow: hidden;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}
.portfolio__item-img img {
  width: 100%;
  height: auto;
  opacity: 0.9;
  animation: img-scale 20s linear infinite;
}
.portfolio__item-info {
  flex: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.portfolio__item-title {
  margin-bottom: 10px;
  font-size: 36px;
  color: var(--text-white);
}
.portfolio__item-text {
  margin-top: auto;
  margin-bottom: 20px;
  color: var(--text-grey);
}
.portfolio__item-tag-row {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.portfolio__item-tag, .portfolio__filter-tag {
  padding: 8px 16px;
  font-size: 16px;
  width: -moz-max-content;
  width: max-content;
  text-transform: uppercase;
  border-radius: 17px;
  border: 2px solid transparent;
  font-weight: 500;
  background-color: var(--bg-black-grey-2);
  color: var(--text-grey);
  cursor: pointer;
}
.portfolio__item-tag:hover, .portfolio__filter-tag:hover {
  border-color: var(--text-orange);
  color: var(--text-orange);
}
.portfolio__item-tag_active {
  color: var(--bg-black);
  border-color: var(--text-orange);
  background-color: var(--text-orange);
}
.portfolio__item-more {
  width: -moz-max-content;
  width: max-content;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--text-white);
  cursor: pointer;
}
.portfolio__item-more:hover {
  color: var(--text-orange);
}
.portfolio__wrapper-detail {
  display: none;
  position: fixed;
  z-index: 10;
  overflow-y: auto;
  padding-top: 50px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(128, 128, 128, 0.1);
  cursor: pointer;
}
@media (min-width: 1440px) {
  .portfolio__wrapper-detail {
    padding-right: 120px;
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  .portfolio__wrapper-detail {
    padding-right: calc(30px + 90 * (100vw - 1280px) / (1440 - 1280));
  }
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .portfolio__wrapper-detail {
    padding-right: calc(30px + 0 * (100vw - 1024px) / (1280 - 1024));
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .portfolio__wrapper-detail {
    padding-right: calc(30px + 0 * (100vw - 768px) / (1024 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .portfolio__wrapper-detail {
    padding-right: calc(30px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .portfolio__wrapper-detail {
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  .portfolio__wrapper-detail {
    padding-left: 120px;
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  .portfolio__wrapper-detail {
    padding-left: calc(30px + 90 * (100vw - 1280px) / (1440 - 1280));
  }
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .portfolio__wrapper-detail {
    padding-left: calc(30px + 0 * (100vw - 1024px) / (1280 - 1024));
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .portfolio__wrapper-detail {
    padding-left: calc(30px + 0 * (100vw - 768px) / (1024 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .portfolio__wrapper-detail {
    padding-left: calc(30px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .portfolio__wrapper-detail {
    padding-left: 30px;
  }
}
.portfolio__detail {
  position: relative;
  background-color: var(--bg-black-grey-2);
  height: -moz-max-content;
  height: max-content;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 17px;
}
.portfolio__detail_active {
  display: block;
}

.contact {
  background-color: var(--text-white);
}
.contact__wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.contact__content {
  padding-top: 100px;
  padding-bottom: 50px;
  min-height: 110dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact__title {
  margin-bottom: 50px;
  text-transform: uppercase;
  text-align: center;
  color: var(--bg-main);
}
.contact__wrapper-form {
  margin: 0 auto;
  width: 700px;
}
.contact__form {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.contact__form input, .contact__form textarea {
  font-size: 20px;
  border: 1px solid var(--text-grey);
  border-radius: 10px;
}
.contact__form-name, .contact__form-email {
  height: -moz-max-content;
  height: max-content;
  padding: 15px;
}
.contact__form-submit {
  height: 40px;
}
.contact__form-description {
  resize: none;
  padding: 15px;
  height: 250px;
}
.contact__form textarea::-moz-placeholder, .contact__form input::-moz-placeholder {
  font-size: 16px;
}
.contact__form textarea::placeholder, .contact__form input::placeholder {
  font-size: 16px;
}
.contact__form-submit {
  height: 60px;
  font-size: 20px;
  border-radius: 10px;
  color: var(--text-white);
  background-color: var(--bg-black);
  transition: transform 0.2s linear;
  text-transform: uppercase;
  position: relative;
}
.contact__form-submit:active {
  transform: translateY(5px);
}
.contact__form-submit::before {
  content: "*Неправильно указана почта ";
  position: absolute;
  top: 120%;
  left: 0;
  height: 20px;
  width: -moz-max-content;
  width: max-content;
  color: red;
  text-transform: capitalize;
  font-size: 14px;
  display: none;
}
.contact__form-error::before {
  display: inline-block;
}

.footer {
  height: 200px;
}

:root {
  --bg-black: #101010;
  --bg-black-grey-1: #181818;
  --bg-black-grey-2: #222222;
  --text-grey: #838383;
  --text-white: #f8f8f8;
  --text-orange: #f39200;
}

* {
  font-family: "Montserrat";
}

img {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

#root {
  height: auto;
  min-width: 375px;
}

html {
  scrollbar-gutter: stable;
}

body {
  background-color: var(--bg-main);
}

.scroll-lock {
  overflow: hidden;
}

@media (min-width: 1440px) {
  .padding-block, .header__wrapper, .about__content, .skills__content, .portfolio__content, .contact__content {
    padding-right: 80px;
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  .padding-block, .header__wrapper, .about__content, .skills__content, .portfolio__content, .contact__content {
    padding-right: calc(80px + 0 * (100vw - 1280px) / (1440 - 1280));
  }
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .padding-block, .header__wrapper, .about__content, .skills__content, .portfolio__content, .contact__content {
    padding-right: calc(80px + 0 * (100vw - 1024px) / (1280 - 1024));
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .padding-block, .header__wrapper, .about__content, .skills__content, .portfolio__content, .contact__content {
    padding-right: calc(40px + 40 * (100vw - 768px) / (1024 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .padding-block, .header__wrapper, .about__content, .skills__content, .portfolio__content, .contact__content {
    padding-right: calc(20px + 20 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .padding-block, .header__wrapper, .about__content, .skills__content, .portfolio__content, .contact__content {
    padding-right: 20px;
  }
}
@media (min-width: 1440px) {
  .padding-block, .header__wrapper, .about__content, .skills__content, .portfolio__content, .contact__content {
    padding-left: 80px;
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  .padding-block, .header__wrapper, .about__content, .skills__content, .portfolio__content, .contact__content {
    padding-left: calc(80px + 0 * (100vw - 1280px) / (1440 - 1280));
  }
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .padding-block, .header__wrapper, .about__content, .skills__content, .portfolio__content, .contact__content {
    padding-left: calc(80px + 0 * (100vw - 1024px) / (1280 - 1024));
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .padding-block, .header__wrapper, .about__content, .skills__content, .portfolio__content, .contact__content {
    padding-left: calc(40px + 40 * (100vw - 768px) / (1024 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .padding-block, .header__wrapper, .about__content, .skills__content, .portfolio__content, .contact__content {
    padding-left: calc(20px + 20 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .padding-block, .header__wrapper, .about__content, .skills__content, .portfolio__content, .contact__content {
    padding-left: 20px;
  }
}

.search {
  display: block;
}

.no-search {
  display: none;
}

.move-block-wrapper {
  height: calc(400dvh + 350px + 110dvh);
}

.top-block {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.move-block {
  position: sticky;
  top: 0;
  left: 0;
}

.bottom-block {
  position: sticky;
  bottom: 0;
  z-index: -1;
}

footer,
header,
section {
  background-color: var(--bg-black);
}

.show-block {
  transform: translateX(0%);
  opacity: 1;
  transition: all 0.3s ease-in;
}

.move-left {
  opacity: 0;
  transform: translateX(-30%);
}

.move-right {
  opacity: 0;
  transform: translateX(30%);
}

h2 {
  line-height: 130%;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}
h2::before {
  content: "";
  width: 25px;
  height: 25px;
  border-left: 3px solid var(--text-white);
  border-bottom: 3px solid var(--text-white);
  position: absolute;
  bottom: -5px;
  left: -15px;
}
h2::after {
  content: "";
  width: 25px;
  height: 25px;
  border-right: 3px solid var(--text-white);
  border-top: 3px solid var(--text-white);
  position: absolute;
  top: -5px;
  right: -15px;
}/*# sourceMappingURL=style.css.map */