.skills {
    height: 100%;
    background-color: var(--orange);
    min-width: 100vw;
    position: relative;
    z-index: 20;
    right: calc((var(--page) - 1) * 100vw);
    transition: right 0.3s linear;


    &_active {

        .skills__wrapper-item {
            transform: scale(1);
            transition: transform 0.3s ease-in-out 0.6s;
            opacity: 1;
        }

        .skills__banner {
            transition: top 0.3s ease-out 0.3s, opacity 0.3s ease-out 0.3s;
        }

        .skills__line {
            transition: opacity 0.5s ease-out 0.3s;
            opacity: 1;
        }

        .scale-9 {
            transform: scale(0.9) !important;
            position: relative;
            @include adapPage(top, 5);
        }
        
        .scale-8 {
            transform: scale(0.8) !important;
            position: relative;
            @include adapPage(top, 28);
        }
    }

    &__content {
        margin: 0 auto;
        @include adapPage(max-width, 1440);
        height: 100%;
        @include adapPage(padding-left, 80);
        @include adapPage(padding-right, 80);
        @include adapPage(padding-top, 50);
        @include adapPage(padding-bottom, 50);
        display: flex;
        justify-content: space-between;
        position: relative;
    }


    &__banner {
        margin: 0 auto;
        @include adapPage(padding-left, 40);
        @include adapPage(padding-right, 40);
        @include adapPage(padding-top, 50);
        @include adapPage(padding-bottom, 20);
        position: absolute;
        @include adapPage(top, -200);
        @include adapPage(left, 395);
        @include adapPage(border-radius, 20);
        width: max-content;
        background-color: var(--black);
        @include adapBoxShadow(0, 0, 15, 5, var(--white));
        opacity: 0;
        
        &_active {
            @include adapPage(top, 55);
            opacity: 1;
        }

        &::before {
            content: "";
            display: inline-block;
            @include adapPage(width, 40);
            @include adapPage(height, 300);
            background-color: var(--black);
            position: absolute;
            z-index: -1;
            @include adapPage(top, -160);
            @include adapPage(left, 100);
        }
        
        &::after {
            content: "";
            @include adapPage(width, 40);
            @include adapPage(height, 300);
            background-color: var(--black);
            position: absolute;
            z-index: -1;
            @include adapPage(top, -160);
            @include adapPage(right, 100);
        }
    }

    &__title {
        font-family: "pixy";
        @include adapPage(font-size, 130);
        margin-bottom: 0;
        line-height: 70%;
        @include adapPage(letter-spacing, 10);
        text-transform: uppercase;
        text-align: center;
        color: var(--orange);
    }
    &__block {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @include adapPage(max-width, 580);
        width: max-content;
        position: relative;

        &_left {
            flex-direction: column-reverse;
        }

        &_right {
            flex-direction: row;
            align-items: flex-end;
            @include adapPage(gap, 10);

            .skills__column {
                flex-direction: column-reverse;
                gap: 0;
            }
        }
    }

    &__column {
        display: flex;
        justify-content: center;
        height: max-content;
        @include adapPage(gap, 10);
        position: relative;
    }

    &__wrapper-item {
        @include adapPage(padding, 15);
        background-color: var(--black);
        @include adapPage(border-radius, 15);
        @include adapPage(border-top-left-radius, 5);
        @include adapPage(border-top-right-radius, 5);
        transform: scale(0.001);
        opacity: 0;
        position: relative;
        @include adapPage(perspective, 150);
        border: 2px solid var(--white);
        @include adapPage(border-width, 2);
        border-top-width: 0px;

        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            @include adapPage(width, 148);
            @include adapPage(height, 100);
            top: -37%;
            @include adapPage(left, 16);
            @include adapPage(border-radius, 5);
            background-color: var(--black);
            border: 3px solid var(--white);
            @include adapPage(border-width, 3);
            @include adapPage(border-top-width, 5);
            transform: rotateX(40deg);
        }

    }

    &__item {
        display: inline-block;
        display: flex;
        align-items: center;
        @include adapPage(width, 150);
        @include adapPage(height, 150);
        border-radius: 20%;
        border: 2px solid var(--grey);
        @include adapPage(border-width, 2);
        transition: transform 0.3s linear, border-color 0.3s linear;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        z-index: 4;
        
        &::before {
            content: "";
            display: inline-block;
            @include adapPage(width, 150);
            height: 0px;
            @include adapPage(border-radius, 15);
            position: absolute;
            @include adapPage(bottom, -2);
            @include adapPage(left, -2);
            z-index: 0;
            transition: height 0.3s linear;
            background-color: var(--orange);
            background-clip: border-box;
        }

        &:hover {
            border-color: var(--orange);

            & span {
                color: var(--black);
            }

            &::before {
                @include adapPage(height, 180);
            }
        }

        &-text {
            width: 100%;
            @include adapPage(font-size, 24);
            color: var(--grey);
            font-weight: 500;
            @include adapPage(padding, 10);
            line-height: 130%;
            text-align: center;
            transition: all linear 0.3s;
            position: relative;
            z-index: 1;
            cursor: pointer;
        }
    }

    &__line {
        position: absolute;
        background-color: var(--black);
        z-index: -1;
        opacity: 0;
    }

    &__line-1 {
        @include adapPage(height, 5);
        @include adapPage(width, 205);
        bottom: 0;
        left: 0;
        transform-origin: left center;
        transform: rotateZ(-45deg);
    }

    &__line-2 {
        @include adapPage(height, 5);
        @include adapPage(width, 205);
        bottom: 0;
        @include adapPage(right, 15);
        transform-origin: right center;
        transform: rotateZ(45deg);
    }
    &__line-3 {
        @include adapPage(height, 1440);
        @include adapPage(width, 5);
        @include adapPage(bottom, 145);
        @include adapPage(right, 155);
    }
    &__line-4 {
        @include adapPage(height, 1440);
        @include adapPage(width, 5);
        @include adapPage(bottom, 145);
        @include adapPage(left, 140);
    }
    &__line-5 {
        @include adapPage(height, 5);
        width: calc((1620/1920) * 100vw);
        @include adapPage(bottom, 145);
        @include adapPage(left, 140);
    }
}

