.skills {
    height: 100%;
    z-index: 0;
    background-color: var(--text-orange);

    &__content {
        margin: 0 auto;
        max-width: 1440px;
        height: 100%;
        padding: 50px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        position: relative;
    }
    &__title {
        margin-bottom: 0;
        line-height: 100%;
        text-align: center;
        font-size: 130px;
        position: absolute;
        bottom: 35px;
        left: 50px;
        text-transform: uppercase;
        color: var(--bg-black);
    }
    &__block {
        display: flex;
        flex-wrap: wrap;
        max-width: 560px;
        width: max-content;
        position: relative;
        gap: 10px;
        &_right {
            align-items: flex-end;
            .skills__column {

            }
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        height: max-content;
        gap: 10px;
    }

    &__wrapper-item {
        padding: 15px;
        background-color: var(--bg-black);
        border-radius: 15px;
    }

    &__item {
        display: inline-block;
        display: flex;
        align-items: center;
        width: 150px;
        height: 150px;
        border-radius: 15px;
        border: 2px solid var(--text-grey);
        transition: all 0.3s linear;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        
        &::before {
            content: "";
            display: inline-block;
            width: 0;
            height: 150px;
            border-radius: 15px;
            position: absolute;
            top: -2px;
            left: -2px;
            z-index: 0;
            transition: all 0.3s linear;
            background-color: var(--text-orange);
            background-clip: border-box;
        }

        &:hover {
            border-color: var(--text-orange);

            & span {
                color: var(--bg-black);
                font-weight: 700;
            }

            &::before {
                width: 150px;
            }
        }

        &-empty {
            width: 150px;
            height: 150px;
        }

        &-text {
            width: 100%;
            @include adap(font-size, 24, 24, 24, 22, 18);
            color: var(--text-grey);
            font-weight: 500;
            padding: 10px;
            line-height: 130%;
            text-align: center;
            transition: all linear 0.3s;
            position: relative;
            z-index: 1;
            cursor: pointer;
        }
    }
}
