.footer {
    &__wrapper {
        margin: 0 auto;
        max-width: 1440px;
    }
    &__content {
        height: 200px;
        width: 100%;
        padding-top: 50px;
    }
    &__links {
        margin: 0 auto;
        margin-bottom: 30px;
        width: max-content;
        display: flex;
        gap: 15px;
    }
    &__img {
        width: 70px;
        height: 70px;
        transition: transform 0.3s linear;
        cursor: pointer;
        position: relative;

        &:active {
            transform: scale(0.9);
        }

        a {
            display: block;
            height: 100%;
            width: 100%;
            padding: 12px;
            border: 3px solid var(--bg-black-grey-3);
            border-radius: 17px;
            background-color: var(--bg-black-grey-1);
            box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.8);
            &:hover {
                outline: 3px solid var(--text-orange);
                img {
                    animation: move-top-bottom 1.5s linear infinite;
                }
            }
        }
        img {
            position: relative;
            max-width: 100%;
            height: auto;
        }
    }
    &__text {
        font-size: 20px;
        text-align: center;
        color: var(--text-grey);
        font-weight: bold;
    }
}