.wrapper-swiper {
    height: 100%;
    position: relative;

    &__arrow_move:not(.wrapper-swiper__arrow_disibled) {
        opacity: 0;
        transition: transform 0.2s linear, opacity 0.2s linear;
        transform: rotateY(-90deg);
    }


    &__arrow_disibled {
        opacity: 0;
        transform: rotateY(-90deg);
        transition: transform 0.2s linear 0.3s, opacity 0.2s linear 0.3s;
    }


    &__arrow-prev {
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        align-items: center;
        border-top: 3px solid var(--grey);
        border-right: 3px solid var(--grey);
        border-bottom: 3px solid var(--grey);
        @include adapPage(border-width, 3); 
        @include adapPage(border-top-right-radius, 60);
        @include adapPage(border-bottom-right-radius, 60);
        transition: transform 0.2s linear, opacity 0.2s linear;
        transform-origin: left center;
        background-color: rgba(255, 255, 255, 0.3);
        cursor: pointer;
    
        img {
            @include adapPage(height, 60);
            transform: rotateZ(180deg);
            @include adapDropShadow(0, 0, 1, var(--black));
        }
    }

    &__content {
        height: 100%;
        display: flex;
        overflow: hidden;
    }

    &__arrow-next {
        position: absolute;
        z-index: 100;
        top: 0;
        right: 0;
        height: 100%;
        display: flex;
        align-items: center;
        border-top: 3px solid var(--grey);
        border-left: 3px solid var(--grey);
        border-bottom: 3px solid var(--grey);
        @include adapPage(border-width, 3); 
        @include adapPage(border-top-left-radius, 60);
        @include adapPage(border-bottom-left-radius, 60);
        transition: transform 0.2s linear, opacity 0.2s linear;
        transform-origin: right center;
        background-color: rgba(255, 255, 255, 0.3);
        cursor: pointer;

        img {
            @include adapPage(height, 60);
            @include adapDropShadow(0, 0, 1, var(--black));
        }
    }
}