.wrapper-swiper {
    height: 100%;
    position: relative;

    &__arrow_move:not(.wrapper-swiper__arrow_disibled) {
        opacity: 0;
        transition: all 0.2s linear;
        transform: rotateY(-90deg);
    }


    &__arrow_disibled {
        opacity: 0;
        transform: rotateY(-90deg);
        transition: all 0.2s linear 0.3s;
    }


    &__arrow-prev {
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        align-items: center;
        border-top: 3px solid var(--grey);
        border-right: 3px solid var(--grey);
        border-bottom: 3px solid var(--grey);
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
        transition: all 0.2s linear;
        transform-origin: left center;
        background-color: rgba(255, 255, 255, 0.3);
        cursor: pointer;
    
        img {
            height: 60px;
            transform: rotateZ(180deg);
            filter: drop-shadow(0px 0px 1px var(--black));
        }
    }

    &__content {
        height: 100%;
        display: flex;
        overflow: hidden;
    }

    &__arrow-next {
        position: absolute;
        z-index: 100;
        top: 0;
        right: 0;
        height: 100%;
        display: flex;
        align-items: center;
        border-top: 3px solid var(--grey);
        border-left: 3px solid var(--grey);
        border-bottom: 3px solid var(--grey);
        border-top-left-radius: 60px;
        border-bottom-left-radius: 60px;
        transition: all 0.2s linear;
        transform-origin: right center;
        background-color: rgba(255, 255, 255, 0.3);
        cursor: pointer;

        img {
            height: 60px;
            filter: drop-shadow(0px 0px 1px var(--black));
        }
    }
}