$MAX-WIDTH: 1440;
$MAX-HEIGHT: 960;
$MIN-WIDTH: 320;

$MOBILE: 320;
$TABLET: 768;
$TABLET-L: 1024;
$DESKTOP: 1280;

// $MOBILE_MEDIA: "screen and (max-width: #{$TABLET - 1 + px})";
// $TABLET_MEDIA: "screen and (min-width: #{$TABLET + px}) and (max-width: #{$TABLET-L - 1 + px}) and (orientation: landscape)";
// $TABLET-L_MEDIA: "screen and (min-width: #{$TABLET-L + px}) and (max-width: #{$DESKTOP - 1 + px})";
// $DESKTOP_MEDIA: "screen and (min-width: #{$DESKTOP + px}) and (max-width: #{$MAX-WIDTH - 1 + px})";

@mixin adap($prop, $dm, $d : $dm, $tl: $d, $t : $tl, $m : $t) {
    @media (min-width: #{$MAX-WIDTH + px}) {
        #{$prop}: #{$dm + px};
    }

    @media screen and (max-width: #{$MAX-WIDTH - 1 + px}) and (min-width: #{$DESKTOP + px}) {
        $r: $dm - $d;
        #{$prop}: calc(#{$d + px} + #{$r} * ((100vw - #{$DESKTOP + px}) / (#{$MAX-WIDTH} - #{$DESKTOP})));
    }

    @media screen and (max-width: #{$DESKTOP - 1 + px}) and (min-width: #{$TABLET-L + px}) {
        $r: $d - $tl;
        #{$prop}: calc(#{$tl + px} + #{$r} * ((100vw - #{$TABLET-L + px}) / (#{$DESKTOP} - #{$TABLET-L})));
    }

    @media screen and (max-width: #{$TABLET-L - 1 + px}) and (min-width: #{$TABLET + px}) {
        $r: $tl - $t;
        #{$prop}: calc(#{$t + px} + #{$r} * ((100vw - #{$TABLET + px}) / (#{$TABLET-L} - #{$TABLET})));
    }

    @media screen and (max-width: #{$TABLET - 1 + px}) and (min-width: #{$MOBILE + px}) {
        $r: $t - $m;
        #{$prop}: calc(#{$m + px} + #{$r} * ((100vw - #{$MOBILE + px}) / (#{$TABLET} - #{$MOBILE})));
    }

    @media (max-width: #{$MIN-WIDTH + px}) {
        #{$prop}: #{$m + px};
    }
}

@mixin adapPage($prop, $v) {
    #{$prop}: min(calc(($v/$MAX-WIDTH) * 100vw), calc(($v/$MAX-HEIGHT) * 100vh));
}

@mixin adapTransform($prop, $v) {
    @if $prop == "translateY" {
        transform: translateY(min(calc(($v/$MAX-WIDTH) * 100vw), calc(($v/$MAX-HEIGHT) * 100vh)));
    }
}

@mixin adapBoxShadow($v1, $v2, $v3, $v4, $color) {
    box-shadow: 
        min(calc(($v1/$MAX-WIDTH) * 100vw), calc(($v1/$MAX-HEIGHT) * 100vh))
        min(calc(($v2/$MAX-WIDTH) * 100vw), calc(($v2/$MAX-HEIGHT) * 100vh))
        min(calc(($v3/$MAX-WIDTH) * 100vw), calc(($v3/$MAX-HEIGHT) * 100vh))
        min(calc(($v4/$MAX-WIDTH) * 100vw), calc(($v4/$MAX-HEIGHT) * 100vh))
        $color;
}

@mixin adapTextShadow($v1, $v2, $v3, $color) {
    text-shadow: 
        min(calc(($v1/$MAX-WIDTH) * 100vw), calc(($v1/$MAX-HEIGHT) * 100vh))
        min(calc(($v2/$MAX-WIDTH) * 100vw), calc(($v2/$MAX-HEIGHT) * 100vh))
        min(calc(($v3/$MAX-WIDTH) * 100vw), calc(($v3/$MAX-HEIGHT) * 100vh))
        $color;
}

@mixin adapDropShadow($v1, $v2, $v3, $color) {
    filter: drop-shadow(
        min(calc(($v1/$MAX-WIDTH) * 100vw), calc(($v1/$MAX-HEIGHT) * 100vh))
        min(calc(($v2/$MAX-WIDTH) * 100vw), calc(($v2/$MAX-HEIGHT) * 100vh))
        min(calc(($v3/$MAX-WIDTH) * 100vw), calc(($v3/$MAX-HEIGHT) * 100vh))
        $color);
}