.portfolio {
    height: 100%;
    min-width: 100vw;
    position: relative;
    z-index: 20;
    background: var(--blue);
    right: calc((var(--page) - 1) * 100vw);
    transition: right 0.3s linear;

    &_active {

    }

    &__content {
        margin: 0 auto;
        max-width: 1440px;
        height: 100%;
        padding: 50px 80px;
        display: flex;
        gap: 30px;
        justify-content: space-between;

        & .portfolio__column:nth-child(2) {
            flex: 1;
        }
    }

    &__column {
        margin-top: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__row {
        height: 47px;
        position: relative;
        top: 0px;
        left: 0px;
        display: flex;
        border-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        & .portfolio__name:first-child {
            left: 0;
            transform: translateX(0%);
        }
    }

    &__name {
        display: inline-block;
        height: 90px;
        width: max-content;
        padding: 10px;
        font-size: 20px;
        border-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        color: var(--white);
        border: 3px solid var(--grey);
        border-bottom: 0px;
        background-color: var(--black);
        position: relative;
        left: -30%;
        transform: translateX(50%);
        top: 10%;
        box-shadow: 0 3px 7px 3px var(--black);
        transition: top 0.15s linear, color 0.15s linear, box-shadow 0.15s linear;
        cursor: pointer;

        &_active {
            top: -40px;
            z-index: -1;
            color: var(--orange);
            box-shadow: 0 0px 7px 3px var(--orange);
        }
    }

    &__project {
        position: relative;
        z-index: 1;
        flex: 1;
        width: 100%;
        padding: 20px;
        border-radius: 30px;
        border-top-left-radius: 0px;
        border-top-left-radius: 0px;
        border: 3px solid var(--grey);
        box-shadow: 0 3px 7px 3px var(--black);
        background-color: var(--black);
        display: flex;
        flex-direction: column;

        &-img {
            margin-bottom: 20px;
            max-width: 669px;
            height: 430px;

            img { 
                border-radius: 20px;
                height: 100%;
                max-width: 100%;
                object-fit: fill;
            }
        }

        &-info {
            flex: 1;
            padding: 20px;
            height: 100%;
            border-radius: 30px;
            border: 3px solid var(--grey);
            background-color: var(--black);
        }

        &-tag-row {
            margin-bottom: 20px;
            display: flex;
            gap: 15px;
        }

        &-tag {
            display: inline-block;
            padding: 6px 10px;
            font-size: 20px;
            border-radius: 12px;
            min-width: 80px;
            text-transform: uppercase;
            text-align: center;
            font-weight: 700;
            background-color: var(--orange);
            cursor: default;
        }

        &-descr {
            font-size: 24px;
            line-height: 130%;
            color: var(--white);
        }

    }

    &__title {
        margin-top: 50px;
        font-family: "pixy";
        font-size: 100px;
        margin-bottom: 0;
        line-height: 70%;
        text-transform: uppercase;
        text-shadow: 3px 3px 5px var(--black);
        color: var(--orange);
    }

    &__info {
        margin-top: 47px;
        padding: 30px;
        flex: 1;
        width: 100%;
        border-radius: 30px;
        border: 3px solid var(--grey);
        background-color: var(--black);
        display: flex;
        flex-direction: column;

        &-title {
            margin-bottom: 20px;
            font-size: 48px;
            font-weight: 700;
            color: var(--orange);
        }

        &-line {
            font-size: 20px;
            line-height: 150%;
            color: var(--white);
        }

        &-button {
            margin-top: auto;
            text-align: center;
            padding: 15px;
            font-size: 28px;
            border-radius: 15px;
            border: 3px solid var(--white);
            color: var(--white);
            transition: all 0.15s linear;

            &:hover {
                background-color: var(--white);
                border-color: var(--black);
                color: var(--black);
                box-shadow: 0 0px 7px 3px var(--white);
            }
        }
    }

}
